---
import "@fontsource/inter/100.css";
import "@fontsource/inter/200.css";
import "@fontsource/inter/300.css";
import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/inter/800.css";
import "@fontsource/inter/900.css";
import { SEO } from "astro-seo";
interface Props {
  title: string;
  image: string;
  snippet: string;
}
import Footer from "../components/Footer.astro";
const { title, image, snippet } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.url.origin).toString();
const resolvedImageWithDomain = image;

import { ViewTransitions } from "astro:transitions";
import preload from "astro-preload";
const makeTitle = title ? title : "Rohit Kushwaha";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={snippet} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="google-site-verification"
      content="AuMlxg6HJG3Rwtp1H81O3OmPVW4WaI5jrk1X4Onm0hU"
    />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={makeTitle}
      description={snippet}
      canonical={canonicalURL}
      twitter={{
        creator: "@rohitk_06",
        site: "@rohitk_06",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: title,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Homepage Screenshot",
        },
        optional: {
          description: snippet,
        },
      }}
    />
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-S9TKKTL84G"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-S9TKKTL84G");
    </script>
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <Footer />
    <script src="../utils/aos.js"></script>
    <style is:global>
      * {
      }
      img {
        content-visibility: auto;
      }
      body {
        font-family: "Inter", sans-serif;
        background-color: rgb(20, 20, 20);
        overflow-x: hidden;
      }

      body .cursor {
        position: fixed;
        z-index: 100;
        height: 15px;
        width: 15px;
        border-radius: 36px;
        background-color: rgba(255, 255, 255, 0.75);
        box-shadow:
          0 0 24px 0 #0000001a,
          0 1px 0 0 #0000;
        pointer-events: none;
        transition: all 200ms ease-out;
        left: -18px;
        top: -18px;
        box-sizing: border-box;
      }
      ::-webkit-scrollbar {
        width: 10px;
      }

      ::-webkit-scrollbar-track {
        background-color: rgb(20, 20, 20);
        -webkit-border-radius: 10px;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: #5b5b5b;
      }
    </style>
  </body>
</html>
